:root {
  --active-font: rgb(129, 129, 129);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ************************************** */
.side-bar {
  position: fixed !important;
  width: 300px !important;
  height: 100vh !important;
}

/* rgb(189, 93, 57) */
.pro-sidebar-inner {
  background-color: #c5d0e6 !important;
  display: flex;
  align-items: center;
  position: relative;
}

.pro-sidebar-layout {
  position: absolute;
  width: 300px;
  height: 500px !important;
  top: 0;
  bottom: 0;
  margin: auto 0 !important;
  overflow: hidden !important;
}

.pro-menu {
  margin-bottom: 50px !important;
}

.image {
  width: 200px;
  height: 200px;
  margin: 50px;
  border-radius: 200px;
  overflow: hidden;
}

.accent {
  font-size: 1.3rem !important;
  font-weight: bold;
  color: white;
}

.pro-item-content:hover {
  color: var(--active-font) !important;
}

.pro-sidebar .pro-menu .pro-menu-item.active {
  color: var(--active-font) !important;
}

.pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item:focus {
  outline: none;
  color: var(--active-font) !important;
}

.pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item:hover {
  color: var(--active-font) !important;
}
