.blog-body {
  width: 100%;
  min-height: 100vh;
}

.blog-content {
  padding: 100px 70px 200px 70px;
}

.blog-title {
  font-weight: bold;
  font-size: 4rem;
}

.blog-subtitle {
  font-size: 1.5rem;
}
