.experience-body {
  width: 90%;
  height: 100vh;
  position: relative;
}

.experience-content {
  /* padding: 100px 70px 200px 70px; */
  position: absolute;
  width: 100%;
  height: 550px;
  top: 0;
  bottom: 0;
  margin: auto 70px;
}

.experience-title {
  font-weight: bold;
  font-size: 4rem;
}

.experience-subtitle {
  font-weight: bold;
  font-size: 1.2rem;
  color: rgb(129, 129, 129);
}

.experience-content {
  line-height: 1.5rem;
}
