.project-body {
  margin: 100px 70px;
  padding-bottom: 100px;
  width: 100%;
  min-height: 700px;
}

.proj-title {
  font-weight: bold;
  font-size: 4rem;
}

.proj-subtitle {
  font-weight: bold;
  font-size: 1.2rem;
}

.proj-content {
  line-height: 1.5rem;
}
